:root{

   --main-primary-color: #3a3042;
   --main-secondary-color: #db9d47;
   --main-third-color: #ff784f;

}

*{
    font-family: 'Electrolize', sans-serif;
}


.text-primary-color {
    color: var(--main-primary-color);
  }

.text-secondary-color {
    color: var(--main-secondary-color);
  }

.text-third-color {
    color: var(--main-third-color);
  }

.bg-primary-color {
    background-color: var(--main-primary-color);
  }

.bg-secondary-color {
    background-color: var(--main-secondary-color);
  }

.bg-third-color {
    background-color: var(--main-third-color);
  }

.nav-link {
    color: white !important;
    transition: 0.4s;
}
.nav-link:hover {

    color: var(--main-secondary-color) !important;
    transition: 0.4s;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-img1{
    background:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)), url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080');
    background-size: cover;

}
.carousel-img2{
    background:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)), url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080');
    background-size: cover;

}
.carousel-img3{
    background:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)), url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');
    background-size: cover;

}

.card{
    width: 18rem;
}

.border-text-custom {
    border-left: 4px solid #db9d47;
    padding-left: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.btnHov{
    color: white;
    background-color: var(--main-secondary-color);
    transition: 0.6s;
}
.btnHov:hover{
    color: white;
    background-color: var(--main-primary-color);
    transition: 0.6s;
}